<style>
body {
  overflow: hidden;
}

</style>
<!-- Page Content  -->
<%- include('sidebar') %>
<div id="content">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button type="button" id="sidebarCollapse" class="btn btn-primary">
        <i class="fa fa-bars"></i>
        <span class="sr-only">Toggle Menu</span>
      </button>
    </div>
  </nav>

  <form
    method="post"
    action="/open"
    class="w-100 d-flex align-items-end flex-column"
    id="text"
  >
    <div class="d-flex justify-content-center flex-row scrollable-content">
      <div class="w-100">
        <% responses.map((response)=> { %>
        <div
          class="border-top border-bottom"
          style="background: rgb(248, 248, 248)"
        >
          <div class="d-flex justify-content-center">
            <h4 class="m-4 text-center w-50"><%= response.question %></h4>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <h4 class="answer m-4 w-50"><%= response.answer %></h4>
        </div>
        <% }); %>
      </div>
    </div>

    <div class="d-flex justify-content-center w-100 mt-2" style="height: 70px">
      <% if(error) { %>
      <div class="fs-6 card m-3 p-2 text-black bg-red"><%= error %></div>
      <% } %>
    </div>
    <div class="w-100 d-flex justify-content-center">
      <textarea
        name="prompt"
        class="form-control mt-3 fs-4 w-75 w-sm-100"
        id="target"
        rows="2"
        required="true"
        oninput="this.style.height = ''; this.style.height = this.scrollHeight +'px'"
      ></textarea>

      <button
        type="submit"
        class="mt-2 fs-5"
        style="border: none; background: none"
      >
        <i
          class="fa fa-paper-plane border-radius color-amber fs-2"
          aria-hidden="true"
        ></i>
      </button>
    </div>
    <div class="d-flex justify-content-center w-100 p-2">
      <p class="text-danger">
        مفت تحقیقی پیش نظارہ۔ اردو جی پی ٹی لوگوں، جگہوں یا حقائق کے بارے میں
        غلط معلومات فراہم کر سکتا ہے
      </p>
    </div>
  </form>
</div>



<script src="js/main.js"></script>
<script>
  let elements = document.getElementsByClassName("answer");
  for (let element of elements) element.innerHTML = element.innerText;

  if ("<%= error %>" == "Please provide the API Key") {
    let API_KEY = prompt("Please Enter your API KEY");
    if (API_KEY) {
      window.location = `/set/${API_KEY}`;
    }
  }

  $(document).ready(function () {
    // When the user clicks on a button or link to open the modal
    $(".demo").click(function () {
      $(".modal").css("display", "block");
    });

    // When the user clicks on the close button or anywhere outside the modal content
    $(".close, .modal").click(function () {
      $(".modal").css("display", "none");
    });

    // Prevent clicks inside the modal content from closing the modal
    $(".modal-content").click(function (event) {
      event.stopPropagation();
    });
  });
</script>
<script>
  $(document).ready(function () {

    var scrollableContent = $(".scrollable-content");
    // Scroll to the bottom of the container
    scrollableContent.scrollTop(scrollableContent.prop("scrollHeight"));

    const data = <%- JSON.stringify(data) %>;
    $("#target").keypress(function (event) {
      if (event.key == "Enter") {
        return;
      }
      var start = event.target.selectionStart;
      var end = event.target.selectionEnd;
      var oldValue = event.target.value;
      var value;

      if (event.shiftKey) {
        value = data["shift_keys"][event.key.toUpperCase()]
          ? data["shift_keys"][event.key.toUpperCase()]
          : event.key;
      } else {
        value = data["keys"][event.key.toUpperCase()]
          ? data["keys"][event.key.toUpperCase()]
          : event.key;
      }

      var newValue = oldValue.slice(0, start) + value + oldValue.slice(end);

      event.target.value = newValue;
      event.target.selectionStart = event.target.selectionEnd = start + 1;
      event.preventDefault();
    });
  });
</script>
